*:not(button) {
  margin: 0;
  padding: 0;
  border: none;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Prompt', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

video {
  width: 500px;
}

button:hover {
  cursor: pointer;
}

#btn_si {
  padding: 2em 5em;
  font-size: xx-large;
  font-weight: bolder;
  background-color: goldenrod;
  border-radius: 10px;
}

#modo_sexo {
  height: 500px;
  position: absolute;
  width: 100%;
  background-color: brown;
  justify-content: center;
  align-items: center;
  margin-top: 8em;
  text-align: center;
  font-size: 5em;
  display: none;
}